/******COLORS******/
/*Green:#5ba215*/
/*Dark Green:#498211;*/
/*Charcoal:#222*/
/*Gray:#bbb*/

/******GENERAL*****/
@font-face {
  font-family:Eras;
  src:url('eras/Eras Light.eot'); /* IE9 Compatibility Modes */
  src:url('eras/Eras Light.eot?') format('eot'),  /* IE6-IE8 */
    url('eras/Eras Light.woff') format('woff'), /* Modern Browsers */
    url('eras/Eras Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
::selection {
  background:#5ba215;
  color:white;
}
::-moz-selection {
  background:#5ba215;
  color:white;
}
html, body {
  width:100%;
  height:100%;
  min-width:220px;
  line-height:1.5;
  font-family: 'Oxygen', sans-serif;
  color:#222222;
  background:url('../images/background.png');
  background-repeat: repeat;
}
* {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
}

/****Foundation******/
.panel {
  background-color: white;
  border-color: white;
  padding: 20px;
}

#main {
  margin-top: 1%;
}

.button{
  background-color:#5ba215;
}
.button:hover{
  background-color:#498211;
}

.f-dropdown {
  padding: 5px;
}

/*******************/
a {
  text-decoration:none;
  color:#5ba215;
}
a:hover {
  color:#498211;
}
h2 {
  color:#5ba215;
}
.smallCaps {
  font-variant:small-caps;
}
.wrapper {
  max-width:1200px;
  margin:0 auto;
}
.wrapper img[src="images/logo.png"]:hover{
  opacity:50;
  filter:alpha(opacity=.5);
}
.center {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

/*****ICON BOXES*****/
.icon-box {
  float:left; 
  /*border:1px solid #bbb;*/ 
  margin: 3px;
  padding: 3px;
  min-width: 85px;
  max-width: 100px;
  height: 125px;
  background-color: #fff;
  text-align: center;
  color:#5ba215;
  font-size: 1em;
}

.icon-box p {
  color:#5ba215;
  line-height: 1.25;
}

.icon-box:hover {
  background-color: #ddd; 
  cursor: pointer;
}

.icon-box:hover p {
  color:#498211;
}

.icon {
  width: 72px;
  height: 72px;
  margin:auto;
}

.clear {
  clear: both;
}

/*****FOOTER*****/
#footer {
  background:#fff;
  color:#aaa;
  font-size:90%;
  text-align:center;
  padding-top: 1.5%;
  padding-left: 40%;
  padding-bottom: 1.5%;
}