body {
  padding-top: 76px;
  padding-bottom: 20px;
}
.center {
  text-align: center;
}
a.icon-box {
  display: block;
}
.icon-box > p {
  margin-bottom: 20px;
}
.icon {
  width: 48px;
  height: 48px;
  margin: auto;
}
.popular-box {
  padding: 5px;
  margin: 5px 0;
}
.popular {
  position: relative;
  top: -15px;
  padding-top: 15px;
}
.popular .row {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 3px;
  padding: 6px 0px;
  background: #f5f5f5;
}
.popular .icon {
  width: 36px;
  height: 36px;
}
#show-icons {
  position: relative;
  top: -10px;
}
.section-title {
  margin: 12px 0 18px 0;
}
/* Decreasing panel-heading padding for mobile devices */
.panel-heading {
  padding: 10px;
}

