# Normal .gitignore stuff
.DS_Store
node_modules/

# OH GOD WHY
Mail/
a.php
alpha-2.6.9-config
attend.old.tar
attendance.old/
attendance/
bash/
books/
bottom.php
boxes/
bricks/
c-yank.tempest/
c-yank/
cindex.php
classmate
classmates/
cmedb-gallery/
cockmongler.js
compdb/
conf.php
creating_webpages.bak.php
creating_webpages.php
csh.css
cshouse/
darpa/
db_mysql.inc
directory/
docs/
drink.old/
drink/
equip/
errors/
evdb/
event_how_tos/
eventdb/
eventdb2/
events/
faq/
favicon.ico
footer.html
fotios/
functions.php
header.php
history/
horde
img/
index-new.php.bak
index.php.4_20_2005
index.php.bak
index.php.bak.2
index.php.preGambogi
index.php~
index2.php
layout-bottom.php
layout-middle.php
layout-top.php
library/
logout/
lotto/
meetingnotes/
membermap/
minecraft/
movies/
msdnaa/
new-webfault/
news/
newsgroups/
newsmail/
oldfaq/
oldindex.php
opcomm/
openid/
operator/
photohunt/
phpPgAdmin
phpPgAdmin_bak
phpinfo.php
phpldapadmin
phpldapadmin_bak
phpmyadmin
phpmyadmin_bak
pnews
pnews265/
profiles/
profiles_v1/
profiles_v3/
project_bricks/
quotes/
randpics.1
rideboard.tar.bz2
rideboard/
rockmongo
segfault/
sidebar.php
squirrelmail
squirrelmail_bak
story/
summer/
switchlogo.php
tempmon
test.php
tmp/
top.php
wall_of_shame/
weather.inc
webdrink/
webfault/
webnews/
webroster/
ybook2003/
yearbook/
