[submodule "bootstrap-csh"]
	path = bootstrap-csh
	url = https://github.com/bencentra/bootstrap-csh
[submodule "members-icons"]
	path = members-icons
	url = https://github.com/bencentra/members-icons
