<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" style="padding: 0 0">
  <div class="container">
    <a class="navbar-brand" href="#">Members</a>
    <div class="collapse navbar-collapse align-center" id="navbarColor01">
      <ul class="nav navbar-nav ml-auto my-2">
        <li class="nav-item">
          <a class="nav-link btn-secondary bg-primary text-white" style="color: #fff" href="https://csh.rit.edu">Public Site</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item navbar-user dropdown" >
          <a class="nav-link dropdown-toggle bg-primary text-white mt-2" data-toggle="dropdown" href="#" id="nav-drop" aria-expanded="false">
            <img ng-src="{{profile}}"> {{ name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="nav-drop">
            <div id="show-icons" class="float-right checkbox dropdown-item">
              <label><input type="checkbox" ng-model="showIcons" ng-click="saveIconSetting()" /> Show Icons</label>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://members.csh.rit.edu/sso/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /.navbar -->
